html {
    font-family: 'Emilys Candy';
    text-shadow: 2px 2px 4px #000000;
}

h2 {
    font-size: 5em;
    z-index: 1;
}
p {
    font-size: 2em;
    color: white;
}

a:link, a:visited {
    text-decoration: none;
    color: #ffffff;
    border: solid;
    border-color: #ffffff;
    padding: 0.5em;
    font-size: 2em;
}

body {
    background: url('background1.jpg') no-repeat center fixed;
    height: 100%;
    opacity: 0.85;
    background-size: cover;
}

.front_text {
    position: absolute;
    left: 25%;
    top: 50%;
    text-align: center;
    color: #ffffff;
}

@media screen and (max-width: 800px) {
    .front_text {
        text-align: center;
        align-items: center;
        color: #ffffff;
        left: 0;
        top: auto;
    }
    h2 {
        font-size: 4em;
    }
}