html {
    font-family: 'Emilys Candy';
}

h2 {
    font-size: 5em;
    z-index: 1;
}
p {
    font-size: 2em;
}

a:link, a:visited {
    text-decoration: none;
    color: #ffffff;
    border: solid;
    border-color: #ffffff;
    padding: 0.5em;
    font-size: 2em;
}

body {
    background: url('background.jpg') no-repeat center fixed;
    height: 100%;
    opacity: 0.85;
    background-size: cover;
}

.front_text {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #ffffff;
}
